article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.primeiraSec{
    height: 80vh;
}

.infoBrinquedos{
    width: 50vw;
    justify-content: center;
    align-items: center;
}

.tituloSec{
    width: 25vw;
    align-items: center;
    justify-content: center;
}

.segundaSec{
    height: 80vh;
}

.brinquedo1{
    width: 100vw;
}

.imagem1{
    content: "";
    position: flex;
    top: 0; 
    left: 0;
    right: 0; 
    bottom: 0;
    background-attachment: fixed;
    background-image: url(../Imagens/jogo_da_onça.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    z-index: -1;
}