header::before{
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    right: 0; 
    bottom: 0;
    background-attachment: fixed;
    background-image: url(../Imagens/MapaMundiBW.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

article{
    height: 100vh;
}

.sec1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}

.titulo{
    justify-content: center;
    align-items: center;
    padding-top: 3%;
}

.mapa{
    width: 100%;
    justify-content: center;
    padding-top: 3%;
    padding-left: 3%;
}

.formulario{
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.forms{
    justify-content: center;
}

.img{
    width: 100vw;
}
