
.container-main{
    display: flex;
    width: 100vw;
    height: 100vh;
}

form{
    padding-left: 10vw;
}

.titulo{
    padding: 16vh 0px 0px 8vw;
}

.forms{
    padding-top: 10vh;
}

textarea {
    margin-bottom: 16px;
    width: 100%;
    border: none;
    font-size: 16px;
    border-bottom: 2px solid black;
    outline: none !important;
    resize: none !important; 
    max-height: 16vh;
}

input{
    margin-bottom: 16px;
    width: 100%;
    border: none;
    outline: none; 
    font-size: 16px;
    border-bottom: 2px solid black;
}

.btn-env{
    padding: 2.3vh 0px 2vh 3.3vw;
}

.enviar{
    border: none;
    outline: none;
    font-size: 2vw;
    color: rgb(0, 0, 0);
    background-color: yellow;
    cursor: pointer;
    position: relative;
    border-radius: 30px;
    height: 8vh;
    width: 18vw;
    transition: 0.4s ease-in-out;
}

.enviar:hover{
    color: whitesmoke;
    background-color: blue;
}

.container-forms{
    padding-left: 10vw;
    padding-bottom: 10vh;
}

.alert-contato{
    margin-left: 130px !important;
}

.container-infos{
    padding: 14vh 5vw 0px 10vw;
    text-align: center;
    align-items: center;
}

.maps{
    position: relative;
    width: 45vw;
    height: 45vh;
    background-color: black;
    border-radius: 20px;
}

.maps iframe{
    padding-top: 1%;
    width: 99.9%;
    height: 98%;
    border-radius: 20px;
}

.blocoEndereco{
    padding-top: 2vh;
}

.infos{
    padding-top: 5%;
    padding-bottom: 5%;
    height: auto;
    width: auto;
}

@media screen and (max-width: 430px){
    textarea{
        width: 70%;
    }

    input{
        width: 70%;
    }

    .tituloMsg{
        font-size: 1rem;
    }

    .enviar{
        font-size: 5vw;
    }

    .titulo{
        font-size: 2rem;
        padding: 16vh 0px 0px 4vw;
    }

    .maps{
        width: 25vw;
        height: 25vh;
    }

    .infos{
        padding-right: 25%;
    }
}