.background{
    content: "";
    position: flex;
    top: 0; 
    left: 0;
    right: 0; 
    bottom: 0;
    background-attachment: fixed;
    background-image: url(../Imagens/FundoPassatempoV2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    z-index: -1;
}

.primeiraSec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.jogotecaInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1vh;
}

.descricao{
    width: 50%;
    padding-top: 2vh;
}

.segundaSec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.salaDeAula{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-top: 1vh; */
}

.artesaos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.imagemOng{
    content: "";
    position: flex;
    top: 0; 
    left: 0;
    right: 0; 
    bottom: 0;
    background-attachment: fixed;
    background-image: url(../Imagens/OngFeliz.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;
    z-index: -1;
}

.imagemArtesao{
    content: "";
    position: flex;
    top: 0; 
    left: 0;
    right: 0; 
    bottom: 0;
    background-attachment: fixed;
    background-image: url(../Imagens/Artesao.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;
    z-index: -1;
}

.admCentro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.admCentro2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.admCentro3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}



@media screen and (max-width: 1085px){
    .primeiraSec{
        height: 100vh;
    }
}

@media screen and (max-width: 860px){
    .primeiraSec{
        height: 125vh;
    }
}

@media screen and (max-width: 768px){
    .primeiraSec{
        height: 150vh;
    }
}

@media screen and (max-width: 300px){
    .primeiraSec{
        height: 250vh;
    }

    .segundaSec{
        height: 120vh;
    }
}

@media screen and (max-width: 190px){
    .primeiraSec{
        height: 300vh;
    }

    .segundaSec{
        height: 150vh;
    }
}

.enviar{
    border: none;
    outline: none;
    font-size: 2vw;
    color: rgb(0, 0, 0);
    background-color: yellow;
    cursor: pointer;
    position: relative;
    border-radius: 30px;
    height: 8vh;
    width: 15vw;
    transition: 0.4s ease-in-out;
}

.enviar:hover{
    color: whitesmoke;
    background-color: blue;
}

textarea {
    width: 930px;
    height: 120px;
    resize: none !important; 
}

.titulo{
    text-align: center ;
    height: 70px;
}

@media screen and (max-width: 430px) {
    .background {
        background-attachment: scroll; 
        background-position: center center; 
        /* width: 100vw; */
        height: 80vh;
    }
}