.container-main{
    display: flex;
    width: 100vw;
    height: 100vh;
}

form{
    padding-left: 18vw;
}

.container-login{
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.conteudoForms{
    justify-content: center;
    align-items: center;
}

.titulo{
    padding-left: 21vw;
    padding-bottom: 3vh;
}