.container-main{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

form{
    padding-left: 18vw;
}

input{
    margin-bottom: 16px;
    width: 15vw;
    border: none;
    outline: none; 
    font-size: 16px;
    border-bottom: 2px solid black;
}

.container-login{
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.conteudoForms{
    justify-content: center;
    align-items: center;
}

.content{
    padding-left: 16vw;
    justify-content: center;
    align-items: center;
}

.titulo{
    padding-left: 21vw;
    padding-bottom: 3vh;
}

.btn-ent {
    padding: 3vh 0vw 2vh 0vw;
}

.btn-log {
    padding: 3vh 0vw 5vh 16vw;
}
.enviar{
    border: none;
    outline: none;
    font-size: 2vw;
    color: rgb(0, 0, 0);
    background-color: yellow;
    cursor: pointer;
    position: relative;
    border-radius: 30px;
    height: 8vh;
    width: 15vw;
    transition: 0.4s ease-in-out;
}

.enviar:hover{
    color: whitesmoke;
    background-color: blue;
}

.alert-login{
    padding-left: 330px;
}

.mensagem td {
    max-width: 200px;
    white-space: normal;
    overflow-wrap: break-word; 
    word-wrap: break-word; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.th-login{
    display: none;
}

.th-add{
    display:table-row;
}

@media screen and (max-width: 430px){
    .backgroundForms{
        padding-left: 20%;
    }

    .forms{
        padding-left: 7%;
    }

    .btn-ent{
        padding-left: 7%;
    }

    .enviar{
        font-size: 4vw;
    }
}

@media screen and (max-width: 760px){
    .backgroundForms{
        padding-left: 20%;
    }

    .forms{
        padding-left: 5.5%;
    }

    .btn-ent{
        padding-left: 5.5%;
    }

    .enviar{
        font-size: 3vw;
    }
}
  