article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.primeiraSec{
    height: 90vh;
}

.infoBrinquedos{
    width: 50vw;
    justify-content: center;
    align-items: center;
    padding-top: 13vh;
}

.tituloSec{
    width: 25vw;
    align-items: center;
    justify-content: center;
}

.descricao{
    padding-top: 5vh;
    margin-left: 3vw;
}

.segundaSec{
    height: 180vh;
}

.brinquedo1{
    width: 100vw;
}

.imagemBr1{
    content: "";
    position: flex;
    top: 0; 
    left: 0;
    right: 0; 
    bottom: 0;
    background-attachment: fixed;
    background-image: url(../Imagens/jogo_da_onça.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    z-index: -1;
}

.tituloSec2{
    width: 25vw;
    align-items: center;
    justify-content: center;
    /* padding-top: 2vh; */
}

.imagemBr2{
    content: "";
    position: flex;
    top: 0; 
    left: 0;
    right: 0; 
    bottom: 0;
    background-attachment: fixed;
    background-image: url(../Imagens/jogo_bola_indigena.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    z-index: -1;
}

.imagemNepal{
    content: "";
    position: flex;
    top: 0; 
    left: 0;
    right: 0; 
    bottom: 0;
    background-attachment: fixed;
    background-image: url(../Imagens/bagha_chall.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    z-index: -1;
}

.imagemNovaZelandia{
    content: "";
    position: flex;
    top: 0; 
    left: 0;
    right: 0; 
    bottom: 0;
    background-attachment: fixed;
    background-image: url(../Imagens/Mu_Torere.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    z-index: -1;
}