*{
    margin: 0;
}

/* html{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
} */

nav{
    /* width: 335%; */
    background-color: rgb(64, 9, 230);
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.imagemNav{
    width: auto;
    margin-left: 1%;
    margin-top: 0.25%;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    padding-left: 50%;
    font-size: 150%;
}

a{
    text-decoration: none;
    color: whitesmoke;
}