*{
    margin: 0;
    font-family: "Roboto", sans-serif;
}

header{
    position: fixed;
    width: 100%;
    z-index: 10;
}

nav{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    position: fixed;
    margin: auto;
    height: 12vh;
    box-shadow: 0px 0px 8px 0px rgb(255, 0, 0);
}

nav ul{
    align-items: center;
    display: inline;
    margin-top: 4%;
}

nav li{
    display: inline-flex;
    margin-left: 20px;

}

nav a{
    position: relative;
    text-decoration: none;
    color: rgb(201, 25, 25);
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

nav a:after{
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background-color: rgba(201, 25, 25, 0.8);
    transition: 0.3s;
    left: 0;
    bottom: -3px;
    border-radius: 90px;
}

nav a:hover::after{
    width: 100%;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    padding-left: 50%;
    font-size: 150%;
}

.imgCabecalho{
    height: 50px;
}

h1{
    font-size: 3rem;
}

p{
    font-size: 1.1rem;
}

.imagemNav{
    width: auto;
    margin-left: 1%;
    margin-top: 0.25%;
}

.imagemNav img{
    height: 10vh;
}

footer{
    position: relative;
    text-align: center;
    background-color: rgb(0, 0, 150);
    padding-top: 5vh;
    padding-bottom: 5vh;
    z-index: 2;
    bottom: 0;
}

footer ul{
    display: inline;
    top: 30px;
}

footer li{
    position: relative;
    display: inline;
    padding-left: 50px;
    z-index: 2;
}

footer li::before{
    content:"";
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 100%;
    z-index: -1;
}

footer img{
    transition: 0.2s ease-in-out;
}

footer img:hover{
    transform: translateY(-10px);
}

.copyright{
    margin-top: 50px;
    color: white;
}

@media screen and (max-width: 768px) {
    p{
        font-size: 0.8rem;
    }

    nav {
        height: 10vh; 
        flex-wrap:nowrap; 
        justify-content: center; 
    }

    nav ul {
        flex-wrap: nowrap; 
    }

    nav li {
        margin: 10px; 
    }

    .cabecalho{
        font-size: 100%;
        flex-wrap: nowrap;
        padding-left: 25%;
    }

    .imgCabecalho{
        height: 25px;
    }
}

@media screen and (max-width: 432px) {
    .imagemNav{
        width: auto;
        margin-left: 0.2%;
        margin-top: 0.25%;
    }

    .imagemNav img{
        height: 5vh;
    }

    .cabecalho{
        flex-wrap: wrap;
        padding-left: 10%;
        font-size: 80%;
    }

    nav li {
        margin-right: 0.7%; 
    }

    nav{
        width: 100%;
    }
}